In [6]:
import pandas as pd
bond_excel_path = r"C:\Projects\Finances\Wealth\Bonds.xlsx"

In [7]:
xl_file = pd.read_excel(bond_excel_path , sheet_name= ['Transactions' , 'Bonds' , 'Repayment'])

In [8]:
import sqlite3
from datetime import datetime
db_path = r'C:\Projects\Finances\database\Transactions.db'
conn = sqlite3.connect(db_path)

In [9]:
#conn.ec

In [10]:
xl_file['Transactions'].to_sql( 'bond_transactions_fact',conn, if_exists='replace', index=True)
xl_file['Bonds'].to_sql('bonds_dim',conn, if_exists='replace',index=False)
xl_file['Repayment'].to_sql('bonds_repayment_fact', conn , if_exists='replace', index=True)

17

In [11]:
conn.commit()
conn.close()

In [14]:
xl_file['Bonds']

,ISIN,Bond Name,Maturity Date,XIRR,Frequency of Interest Payment,Frequency Of Principal Repayment
0,INE04VS07289,Oxyzo Mar'22,2024-03-16,0.0950,Annually,At maturity
1,INE07KI07047,Mintifi Sept'22,2023-09-06,0.1000,Every 4 months,Every 4 months
2,INE02E107077,Aryadhan Jun'22,2023-08-31,0.1050,Every 3 months,20% Every 3 months
3,INE998Y07121,Berar Sept'22,2024-08-07,0.1050,Every 6 months,25% Every 6 months
4,INE342T07445,NAVI FINSERV LIMITED,2027-03-13,0.1119,Annually,At maturity

### DB

In [ ]:
import sqlite3
from datetime import datetime
db_path = r'C:\Projects\Finances\database\Transactions.db'

In [ ]:
def data_load_to_db(df,bank_name):
    # Connect to the SQLite database
    conn = sqlite3.connect(db_path)
    # Retrieve existing data from the "transactions" table
    #existing_data = pd.read_sql_query("SELECT * FROM sbi_bank", conn)
    # Truncate the "target" table
    conn.execute(f"DELETE FROM {bank_name}_bank")

    # Insert new data into the "sbi_target" table
    df.to_sql(f'{bank_name}_bank', conn, if_exists='replace', index=False)
    # Commit changes and close connection
    conn.commit()
    conn.close()